<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <title>LMS</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Course Management System</a>
            <a href="">Home</a>
        </div>
    </nav>
    <!-- Tools box -->
    <div class="container-fluid section-wrapper">
        <h2>Tools for Trainers</h2>
        <div class="border border-grey rounded">
            <div class="row m-4">
                <!-- tool 1-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center "><a href="">Upload Course Materials</a></p>
                        </div>
                    </div>
                </div>
                <!-- tool 2-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center"><a href="createQuiz.html">Create Quiz</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of tools-->
                <!-- tool 3-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center"><a href="">Forum</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of tools-->
                <!-- tool 4-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text text-center"><a href="">View Students' Grades</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of tools-->
            </div>
        </div>
    </div>
    <!-- Manage Course -->
    <div class="container-fluid section-wrapper">
        <!doctype html>
        <html lang="en">

        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

            <title>LMS</title>
        </head>

        <body>
            <!-- navbar -->
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Course Management System</a>
                    <a href="">Home</a>
                </div>
            </nav>
            <!-- Tools box -->
            <div class="container-fluid section-wrapper">
                <h2>Tools for Trainers</h2>
                <div class="border border-grey rounded">
                    <div class="row m-4">
                        <!-- tool 1-->
                        <div class="col-md-3">
                            <div class="card">
                                <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text text-center "><a href="">Upload Course Materials</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- tool 2-->
                        <div class="col-md-3">
                            <div class="card">
                                <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text text-center"><a href="createQuiz.html">Create Quiz</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- end of tools-->
                        <!-- tool 3-->
                        <div class="col-md-3">
                            <div class="card">
                                <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text text-center"><a href="">Forum</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- end of tools-->
                        <!-- tool 4-->
                        <div class="col-md-3">
                            <div class="card">
                                <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text text-center"><a href="">View Students' Grades</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- end of tools-->
                    </div>
                </div>
            </div>
            <!-- Manage Course -->
            <div class="container-fluid section-wrapper" id="app">
                <h2>Create Quiz</h2>
                <!-- start of form -->
                <form class="mt-3" id="app">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <div class="form-group">
                                <label class="control-label" for="date">Start Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" v-model="quizStart">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="form-group">
                                <label class="control-label" for="date">End Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" v-model="quizEnd">
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" type="radio" id="quizGraded" value="graded" v-model="quizIsGraded">
                            <label class="form-check-label" for='quizGraded'>Graded</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="quizUngraded" value="ungraded" v-model="quizIsGraded">
                            <label class="form-check-label" for='quizUngraded'>Ungraded</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="passingScore">Passing Score</label>
                            <input class="form-control" id="passingScore" name="passingScore" placeholder="Please enter passing score" type="number" v-model="passingScore">
                        </div>
                    </div>
                    <!-- Set True/False Question-->
                    <div class="border border-grey rounded mt-2">
                        <div class="form-check p-4">
                            <div class="form-group" v-for="num in numQuestions">
                                <label class="font-weight-bold">Question {{num}} </label>
                                <input type="text" class="form-control mb-2" :id="'question-'+num" v-model="quizQuestions[num-1]" placeholder="Please enter question here">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" :name="'graded-'+num" :id="'graded-'+num+'false'" v-model="quizAnswers[num-1]" value=true>
                                    <label class="form-check-label" :for="'graded-'+num+'false'">
                                        False
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" :name="'graded-'+num" :id="'graded-'+num+'true'" v-model="quizAnswers[num-1]" value=false>
                                    <label class="form-check-label" :for="'graded-'+num+'true'">
                                        True
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button @click='addQuestion()' class="btn btn-primary px-5 mt-3">Add Another Question</button>
                <button @click='createQuiz()' class="btn btn-success px-5 mt-3">Create Quiz</button>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
            <script src="createQuiz.js" async defer></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
            <style>
                .section-wrapper {
                    padding: 10px 45px 10px 45px;
                }
            </style>
        </body>

        </html>