<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css" />

    <title>LMS</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Course Management System</a>
        </div>
    </nav>
    <!-- Tools box -->
    <div class="container-fluid" id-unique="section-wrapper">
        <h2>Tools for Administrators</h2>
        <div class="border border-grey rounded">
            <div class="row m-4">
                <!-- tool 1-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <p class="card-text text-center "><a href="createCourse.html">Create Course</a></p>
                        </div>
                    </div>
                </div>
                <!-- tool 2-->
                <div class="col-md-3">
                    <div class="card">
                        <img src="../images/Rectangle 13.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <p class="card-text text-center"><a href="manageCourse.html">Manage Course</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of tools-->
            </div>
        </div>
    </div>
    <!-- Manage Course -->
    <div class="container-fluid" id="section-wrapper">
        <div class="d-flex justify-content-between">
            <h2>Create Course</h2>
        </div>
        <!-- start of form -->
        <form class="mt-3" id="app">
            <!-- 1st row Course Name and Number of Classes-->
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="course-name">Course Name</label>
                    <input v-model="form_course_name" type="text" class="form-control" id="course-name" placeholder="Course name goes here" />
                </div>

                <div class="form-group col-6">
                    <label for="number-of-classes">Number of Classes</label>
                    <select class="form-control" id="number-of-classes" v-model="form_number_of_classes">
                        <option v-for="num in [1,2,3,4,5]" > {{ num }} </option>
                    </select>
                </div>
            </div>
            <!-- 2nd row Course Category and Class Capacity-->
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="course-category">Course Category</label>
                    <select class="form-control" id="course-category" v-model="form_course_category">
                        <option v-for="course_category in course_categories">
                            {{ course_category }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="class-capacity">Class Capacity</label>
                    <select class="form-control" id="class-capacity" v-model="form_course_capacity">
                        <option v-for="num in [1,2,3,4,5]" > {{ num }} </option>
                    </select>
                </div>
            </div>
            <!-- Assign learners-->
            <h2>Assign Trainers</h2>
            <div>
                <ul class="container list-group infinite-scroll m-0" id="basic-example" style="max-height: 261px; overflow-y: scroll">
                    <li style="margin-left: 15px;" class="list-group-item" v-for="trainer in trainers">
                        <input :id="trainer" class="form-check-input me-1" type="checkbox" :value="trainer" aria-label="..." v-model="form_course_trainers"> {{ trainer }}
                    </li>
                </ul>
            </div>
            <input type="button" @click="submit_new_course()" class="btn btn-primary" value="Create" style="margin: 10px;">
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then vue-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous ">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous ">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous ">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
    <script src="vue.js"></script>
</body>

</html>