<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href='styles.css' rel="stylesheet">

    <title>LMS</title>
</head>

<body>
    <!-- navbar -->
    <div id='nav-bar'>
        <nav-bar></nav-bar>
    </div>
    <!-- Tools box -->
    <div id='admin-toolbar'>
        <admin-toolbar></admin-toolbar>
    </div>

    <!-- Create Courses -->
    <div class="container-fluid section-wrapper">
        <div class="d-flex justify-content-between">
            <h2>Create Course</h2>
        </div>
        <!-- start of form -->
        <form class="mt-3" id="app">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="course-name">Course Name</label>
                    <input v-model="form_course_name" type="text" class="form-control" id="course-name" placeholder="Course name goes here" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="form_course_details">Course Details</label>
                    <input v-model=" form_course_details " type="text " class="form-control " id="form_course_details " placeholder="Course details " />
                </div>
            </div>
            <!-- 1st row Course Name and Number of Classes-->
            <div class="form-row ">
                <div class="form-group col-6 ">
                    <label for="form_required_courses ">Prerequisites</label>
                    <input v-model="form_required_courses " type="text " class="form-control " id="form_required_courses " placeholder=" No spaces seperated by commar I.E 'IBM101,IBM102' " />
                </div>

                <div class="form-group col-6 ">
                    <label for="number-of-classes ">Number of Classes</label>
                    <select class="form-control " id="number-of-classes " v-model="form_number_of_classes ">
                        <option v-for="num in [1,2,3,4,5] " > {{ num }} </option>
                    </select>
                </div>
            </div>
            <!-- 2nd row Course Category and Class Capacity-->
            <div class="form-row ">
                <div class="form-group col-6 ">
                    <label for="course-category ">Course Category</label>
                    <select class="form-control " id="course-category " v-model="form_course_category ">
                        <option v-for="course_category in course_categories ">
                            {{ course_category }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-6 ">
                    <label for="class-capacity ">Class Capacity</label>
                    <select class="form-control " id="class-capacity " v-model="form_course_capacity ">
                        <option v-for="num in [1,2,3,4,5] " > {{ num }} </option>
                    </select>
                </div>
            </div>
            <!-- Assign learners-->
            <!-- <h2>Assign Trainers</h2>
            <div>
                <ul class="container list-group infinite-scroll m-0 " id="basic-example " style="max-height: 261px; overflow-y: scroll ">
                    <li class="list-group-item " v-for="trainer in trainers ">
                        <input :id="trainer " class="form-check-input me-1 " type="checkbox " :value="trainer " aria-label="... " v-model="form_course_trainers "> {{ trainer }}
                    </li>
                </ul>
            </div> -->
            <input type="button " @click="submit_new_course() " class="btn btn-primary " value="Create ">
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then vue-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous ">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous ">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous ">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
    <script src="vue.js "></script>
    <script src="createCourse.js "></script>
</body>

</html>